<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599964933747-u9ck9h8mptm15sjmud40lgogquinjckl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599964933747-u9ck9h8mptm15sjmud40lgogquinjckl</string>
	<key>API_KEY</key>
	<string>AIzaSyBdOPugq7WE0uPqKfTi_-kbUltNnVxAWY4</string>
	<key>GCM_SENDER_ID</key>
	<string>599964933747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristiancosta.AlkemyMovieApp</string>
	<key>PROJECT_ID</key>
	<string>alkemymovieapp</string>
	<key>STORAGE_BUCKET</key>
	<string>alkemymovieapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599964933747:ios:8c650d86620d7e3ce45406</string>
</dict>
</plist>